<!DOCTYPE html>
<html>
  <head>
    <title>TsugiDoco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;" >
        <ul class="navbar-nav mr-auto nav-right">
          <li class="nav-item"><%= link_to root_path,class:"nav-link" do %><h2>Tsugi Doco</h2><% end %></li>
        </ul>
        <ul class="navbar-nav ml-auto nav-right">
          <li class="nav-item"><%= link_to 'ログイン',new_user_session_path,class:"nav-link" %></li>
          <li class="nav-item"><%= link_to '会員登録',new_user_registration_path,class:"nav-link" %></li>
        </ul>
      </nav>

      <div class="container-fluid main-image">
        <div class="row justify-content-center">
          <div class="col-3 main-image__text">
            <div>
            <h4>「次、どこ行こうか」<br>をなくそう。</h4><br>
            どんな所・順番で回ったかをシェアしよう。<br>
            デート、食べ歩き、はしご酒<br>
            あなたは街をどう歩きますか？
            </div>
          </div>
          <div class="col-2"></div>
          <div class="col-3 main-image__text">
            <div>
            <h4>さあ、はじめよう</h4><br>
            <%= link_to 'ログイン',new_user_session_path,class:"nav-link btn btn-sm btn-outline-light" %>
            <%= link_to '会員登録',new_user_registration_path,class:"nav-link btn btn-sm btn-outline-light" %>
            </div>
          </div>
        </div>
      </div>

      <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">ロゴ</li>
          <li class="nav-item">SNSボタン</li>
          <li class="nav-item">会員登録</li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-10">
    <%= yield %>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
